@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100% ;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none ;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: blue; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid orange; /* отступ вокруг бегунка */
}
body::-webkit-scrollbar-track {
  background: orange; /* цвет зоны отслеживания */
}
.main {
  font-family: Roboto;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg');
  background-size: cover;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

h2 {
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  font-size: 90px !important;
  color: white;
  z-index: 20;
}
.data {
  font-size: 30px !important;
}
.data__container {
}

.todo__add__form {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.openModalButton {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: fixed;
  left: 20px;
  top: 20px;
  transition: 0.8s;
  img {
    width: 100%;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.2);
  }
}
.modal-dialog {
  .modal-content {
    background: rgba(255, 255, 255, 0.618);
    @media (max-width: 500px) {
      margin-top: 100px;
      background: rgba(255, 255, 255, 0.718);
    }
  }
  input {
    &:focus {
      border: 1px solid rgb(241, 221, 183);
      box-shadow: 0 0 0.5px 4px #fad76b;
    }
  }
}
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  input {
    box-sizing: border-box;
    max-width: 150px;
    font-size: 30px;
    color: white;
    background: none;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between !important;
}
